* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nocontainer {
    background: #13CA91;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.nocontainer h1 {
    font-size: 7rem;
}

.digcontainer {
    background: #13CA91;
    height: 1500px;
}

.nigcontainer {
    width: 60%;
    margin: 0 auto;
    background: #13CA91;
}

.sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #13CA91;
}

.sec1 h2 {
    text-align: center;
    font-size: 50px;
    color: #fff;
}

.sec1 p {
    text-align: center;
    color: #fff;
}

.sec1 i {
    font-size: 50px;
    padding: 20px;
    color: #fff;
}

@media screen and (max-width:991px){
    .nocontainer h1 {
        text-align: center;
    }
}