* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nocontainer {
    background: #13CA91;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.nocontainer h1 {
    font-size: 7rem;
}

.digcontainer {
    background: #13CA91;
}

.nigcontainer {
    width: 60%;
    margin: 0 auto;
    background: #13CA91;
}

.sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #13CA91;
}

.sec1 h2 {
    text-align: center;
    font-size: 50px;
    color: #fff;
}

.sec1 p {
    text-align: center;
    color: #fff;
}

.sec1 i {
    font-size: 50px;
    padding: 20px;
    color: #fff;
}

.sec2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #13CA91;
}

.sec2 h2 {
    text-align: center;
    font-size: 50px;
    color: #fff;
}

.sec2 p {
    text-align: center;
    color: #fff;
}

.sec2 i {
    font-size: 50px;
    padding: 20px;
    color: #fff;
}

.sec3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #13CA91;
}

.sec3 h2 {
    text-align: center;
    font-size: 50px;
    color: #fff;
}

.sec3 p {
    text-align: center;
    color: #fff;
}

.sec3 i {
    font-size: 50px;
    padding: 20px;
    color: #fff;
}

.sec3 h3 {
    color: #fff;
    padding: 10px;
}

.sec3 a {
    color: #E847AE;
}

.sec3 a:hover {
    color: #931265;
}